
<% if @profile %>
	
	<div class="container-fluid grey">
		<div class="col-md-4 result">
			<h3 class="blue_heading">Prime Time</h1>

			<p><%= @result %></p>

			<div>
			 	<a href="/#prog_prob">Back</a>
			</div>
		</div>
	</div>

<% end %>